CTU-13-Dataset.tar.bz2
CTU-13-Dataset/1/
CTU-13-Dataset/2/
CTU-13-Dataset/3/
CTU-13-Dataset/4/
CTU-13-Dataset/5/
CTU-13-Dataset/6/
CTU-13-Dataset/7/
CTU-13-Dataset/8/
CTU-13-Dataset/9/
CTU-13-Dataset/10/
CTU-13-Dataset/11/
CTU-13-Dataset/12/
CTU-13-Dataset/13/
BotnetDetector


BotnetDetectorsComparer/*.txt
.ipynb_checkpoints/
__pycache__/
